div {
    text-align: center;
}


img {
    width: 400px;
    height: 400px;
}

#wrapper {
    text-align: center;
    width: auto;
    margin: 0 auto
}

.inner {
    display: inline-block;
}

h2 {
    font-size: 30px;
  }