div {
    text-align: center;
}


#test {
    width: 600px;
    height: 600px;
}


#wrapper {
    text-align: center;
    width: auto;
    margin: 0 auto
}

.inner {
    display: inline-block;
}

h2 {
    font-size: 30px;
  }